[data-prefers-color='dark'] .my-index-wrap {
  color: #c6c9cd;
  background-color: #050709 !important;
}

[data-prefers-color='dark'] .my-tool-title {
  color: #c6c9cd;
  background-color: #050709 !important;
}
